body {
    font-family: Arial, sans-serif;
    background-color: #000;
    color: #fff;
}

body h2 {
    color: gold;
    align-items: center;
}

#header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 10px 10px 0;
    background-color: #900;
    position: fixed;
    top: 0;
    width: 100%;
    height: 70px;
    z-index: 1;
}

#header-img {
    width: 150px;  /* Adjust as needed */
    height: 90px;
}

#nav-bar {
    display: flex;
    justify-content: space-around; /* This will distribute the links evenly within the navigation bar */
    gap: 20px;
    width: 60%; /* Adjust as needed */
}

.nav-link {
    text-decoration: none;
    color: gold;
}

.nav-link:hover {
    color: #000; /* This will change the text color to black when hovering */
}

section {
    margin: 20px 0;
    animation: fade-in 2s;
    padding-top: 60px;  /* Add space at the top of the section to prevent the fixed header from covering the content */
    text-align: center; /* Center the text in the sections */
}

@keyframes fade-in {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

section h2 {
    color: gold;
    text-align: center; /* Center the titles */
}

section p {
    color: #fff;
}

section img {
    width: 50%; /* Reduce the size of the images */
    height: auto;
    animation: color-change 2s infinite;
}

@keyframes color-change {
    0% { filter: brightness(100%); }
    50% { filter: brightness(50%); }
    100% { filter: brightness(100%); }
}

#product-grid {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.product-card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    padding: 16px;
    text-align: center;
    border: 2px;
    background-color: white;
    color: black;
}

.product-card img {
    width: 170px;
    height: 190px;
    padding: 2px;
}

#form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: auto; /* Center the form on the screen */
    max-width: 600px; /* Prevent the form from stretching across the whole screen */
}

#email {
    padding: 10px;
    border: 1px solid #ff0;
    border-radius: 5px;
    background-color: #fff;
    color: #000;
}

#submit {
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: gold;
    color: #000;
    cursor: pointer;
}

#submit:hover {
    background-color: #900;
    color: #fff;
}

footer {
    background-color: #900;
    color: gold;
    text-align: center;
    padding: 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}

@media screen and (max-width: 600px) {
    #header, #nav-bar {
        flex-direction: column;
    }

    #header-img {
        width: 100px;  /* Adjust as needed */
        height: 60px;
    }

    #nav-bar {
        width: 100%; /* Adjust as needed */
        display: none; /* Hide the nav bar on small screens */
    }

    section {
        margin: 10px 0;
        padding-top: 30px;  /* Add space at the top of the section to prevent the fixed header from covering the content */
    }

    section img, section video {
        width: 100%; /* Reduce the size of the images and videos */
    }

    #product-grid {
        flex-direction: column;
    }

    .product-card img {
        width: 85px;
        height: 95px;
    }

    #form {
        max-width: 300px; /* Prevent the form from stretching across the whole screen */
    }
}